PROJECT_NAME=nexum-shield
ENV=dev

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nexum
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# GCP (used later)
GCP_PROJECT_ID=nexum-shield-dev
GCP_REGION=asia-south1